<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Login</title>
    </head>
    <body>
        <h2>Login</h2> {% if error_message %}
        <p><strong>{{ error_message }}</strong></p> {% endif %}

        <form action="{% url 'login:login' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
                <button id="register" type="button" onclick="location.href='{% url 'login:register' %}'">Register</button>
            </div>
        </form>

    </body>
</html>
